#title{
    background-color:black;
    color :white;
    text-align: left;
    padding: 30px;
}
h1{
    font-family: "Times New Roman", "游ゴシック";
}
h2{
    font-family: "Times New Roman", "游ゴシック";
}
h4{
    font-family: "Times New Roman", "游ゴシック";
}

#footer {
    border-top: solid 1px lightgray;
    padding-bottom: 10px;
    margin-top: 30px;
    font-family: sans-serif, serif, monospace;
}

#footer ul {
    text-align: center;
}

#footer ul li {
    left: 50%;
    padding: 20px;
    margin: auto;
    display: inline;
}

#footer p {
    text-align: center;

}

.ftr {
    text-decoration: none;
    color: black;
    font-family: sans-serif, serif, monospace;
}

#last {
    font-family: sans-serif, serif, monospace;
}

#pic{
    margin-left: -5%;
}

.kotira2{
  text-decoration: none;
  color: white
        
}

 .kokodayo {
  /* text-decoration: none; */
  color: black;
  font-family: "Times New Roman", "游ゴシック";
}
        
 .modoruyo {
  margin-top: 150px;
 }
 .kotira2 {
     text-decoration: none;
     color: white;
     font-size: 70%;
     
 }

 .headerbar {
     position: sticky;
     top: 0;
     z-index: 999;
     left: 0;
     width: 100%;
     padding: 20px 40px;
     background: black;
     color: white;
     box-sizing: border-box;
     font-size: 250%
 }
 #qol {
     font-family: 'Times New Roman', Times, serif;
     font-size: 400%;
     background-color: black;
     color: white;
     box-shadow: 0 5px 0 red;
     margin-top: 4%;
 }
